@charset "utf-8";

h1 {
    font-family: serif;
    border-bottom: solid 1px red;
}

p {
    color: orange;
}

span {
    color: violet;
}

ul {
    list-style: none;
}

table {
    border: 3px solid orange;
}

th {
    border: 1px solid black;
}

td {
    border: 2px dashed red;
    border-radius: 12px;
}